@charset "UTF-8";

// ----------------------
// == Site settings
// ----------------------

// Html 5 Element
$audio-canvas-video: false; // True | False

// Fonts
$font1: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font2: 'Ubuntu', sans-serif;;

// = Colors
// -----------------------------

// Graphic chart
$white: #ffffff;
$blue: #1894c4;
$black: #424242;
$light-black: #757575;
$orange: #fbb70e;
$ash: #757575;

$color1: $white;
$color2: $blue;
$feature-color: #7f0027;

// Text
$color-text-base: #212121;

// link
$color-link: $color1;
$color-link-hover: darken($color1, 10%);

// Mixin Placeholder
$color-mixin-placeholder: #cdcdcd;

// Selection
$color-selection: $color1;

// Btn
$bg-btn: #555;
$bg-btn-hover: darken($bg-btn, 10%);
$clr-btn: #212121;
$clr-btn-hover: darken($clr-btn, 10%);

// = Grid
// -----------------------------

// Max width wrapper
$wrapper-width: pxtoem(1140, 16);

// = Prefix
// -----------------------------

$prefix-for-webkit:    true !default;
$prefix-for-mozilla:   true !default;
$prefix-for-microsoft: true !default;
$prefix-for-opera:     true !default;
$prefix-for-spec:      true !default; // required for keyframe mixin

// = Responsive
// -----------------------------

$width-large: 75em; // 1200/16
$width-medium: 62em; // 992/16
$width-small: 48em; // 768/16

// color scheme
$highlight-text: #7f0027;
$highlight: #7f0027;

$black-bg: #000000;
$black-text: #000000;


$white-bg: #ffffff;
$white-text: #ffffff;

//font style
$regular-text: 400;
$thin-text: 300;
$medium-text: 500;
$semibold-text: 600;
$bold-text: 700;

//font size 
$common-lg-title: 33px;
$common-lg-subtitle: 22px;
$common-text: 14px;

//socials
$facebook: #3b5998;
$twitter: #55acee;
$gplus: #dc4e41;
$pinterest: #bd081c;